[Unit]
Description=Execute scripts remotelly with an HTTP call
After=syslog.target network.target

[Service]
User=root
ExecStart=/usr/bin/shellhook -config /etc/shellhook/config.yaml
Restart=always
StandardError=append:/var/log/shellhook.log
StandardOutput=append:/var/log/shellhook-errors.log

[Install]
WantedBy=multi-user.target